<h3>Messages</h3><br/>
<table class="table table-striped" style="width: 100%;">
    <tr>
        <td style="width: 10%;">Name</td>
        <td style="width: 25%;">Producer's Name</td>
        <td style="width: 50%;">Publishing Date</td>
        <td style="width: 50%;">Action</td>
    </tr>
    <?php foreach($data['movies'] as $page_data) { ?>
    <tr>
        <td><b><?=$page_data['name']?></b></td>
        <td><b><?=$page_data['producerName']?></b></td>
        <td><b><?=$page_data['publishDate']?></b></td>
        <td align="right">
            <a href="/netflix-cms/index.php?x=movie/see/<?=$page_data['movieId']?>"><button class="btn btn-sm btn-primary">see</button></a>
            <a href="/netflix-cms/index.php?x=movie/edit/<?=$page_data['movieId']?>"><button class="btn btn-sm btn-primary">edit</button></a>
            <a href="/netflix-cms/index.php?x=movie/delete/<?=$page_data['movieId']?>" onclick="return confirmDelete();"><button class="btn btn-sm btn-warning">delete</button></a>
        </td>
    </tr>
    <?php } ?>
</table>
<br/>

<div>
    <a href="/netflix-cms/index.php?x=movie/add/"><button class="btn btn-sm btn-success">Add new movie</button></a>
</div>
